/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 8, 2023, 10:03:03 PM
    Author     : hoang
*/

@keyframes slideUp {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    background-color: #fffaf0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    animation: slideUp 0.75s ease-in-out;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 400px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.login-box label,
.login-box h2 {
    font-family: sans-serif;
    font-weight: bold;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 6px;
}

.login-box input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login-box input[name="login"] {
    background-color: #008CBA;
}

.login-box input[name="login"]:hover {
    background-color: #0073b1;
}


.login-box input[name="forget"] {
    background-color: #FFA500;
}

.login-box input[name="forget"]:hover {
    background-color: #ff9112;
}

.login-box input[name="register"] {
    background-color: #4CAF50;
}

.login-box input[name="register"]:hover {
    background-color: #4c9459;
}

.button-row {
    display: flex;
}

.button-row input[type="submit"] {
    flex: 1;
}

.button-row input[name="forget"] {
    margin-right: 8px;
}